In [1]:
'''Write a program to reverse a string.'''

'Write a program to reverse a string.'

In [32]:
s = "Abdur"

In [33]:
s[::-1]

'rudbA'

In [34]:
''' Check if a string is a palindrome.'''

' Check if a string is a palindrome.'

In [56]:
input_string = "Cuttack is near Bhubaneshwar"

In [57]:
reverse_string = input_string.replace(" "," ").lower()

In [58]:
reverse_string

'cuttack is near bhubaneshwar'

In [59]:
if input_string == reverse_string:
    print("the string is palindrome")
else:
        print("the string is not palindrome")

the string is not palindrome

In [48]:
''' Convert a string to uppercase.'''

' Convert a string to uppercase.'

In [50]:
s2 = "Hello Moto"

In [51]:
s2.upper()

'HELLO MOTO'

In [52]:
'''Convert a string to lowercase.'''

'Convert a string to lowercase.'

In [53]:
s2.lower()

'hello moto'

In [55]:
'''Count the number of vowels in a string.'''

'Count the number of vowels in a string.'

In [60]:
ipstn = "Hello, My name is Abdur."

In [61]:
vowel_count = 0

In [62]:
ipstn = ipstn.lower()

In [63]:
ipstn

'hello, my name is abdur.'

In [83]:
vowels = {"a","e","i","o","u"}

In [84]:
vowels

{'a', 'e', 'i', 'o', 'u'}

In [85]:
for char in ipstn:
    if char in vowels:
        vowel_count+=1

In [86]:
print("numbers of vowels", vowel_count)

numbers of vowels 7

In [1]:
'''Count the number of consonants in a string.'''

'Count the number of consonants in a string.'

In [17]:
itstr = "Hello, You are my world and 13 is my birthday."

In [18]:
itstr = itstr.lower()

In [19]:
itstr

'hello, you are my world and 13 is my birthday.'

In [20]:
vowels = set("aeiou")

In [21]:
consonant_count = 0

In [22]:
for char in itstr:
    if char.isalpha() and char not in vowels:
        consonant_count+=1

In [23]:
print("Number of consonant", consonant_count)

Number of consonant 22

In [25]:
'''Remove all whitespaces from a string.'''

'Remove all whitespaces from a string.'

In [26]:
sd = "hello, you are the best."

In [27]:
sd.replace(" ","")

'hello,youarethebest.'

In [28]:
'''. Find the length of a string without using the `len()` function.'''

'. Find the length of a string without using the `len()` function.'

In [30]:
s2 = " Hello, you are best."

In [31]:
s2

' Hello, you are best.'

In [34]:
length = 0

In [35]:
for char in s2:
    length+=1

In [36]:
print("Total length of this line:",length)

Total length of this line: 21

In [37]:
'''Check if a string contains a specific word.'''

'Check if a string contains a specific word.'

In [38]:
s2 ="hello, Hello, you are the best and you can be the best."

In [40]:
specific_word = "hello"

In [43]:
if specific_word in s2:
    print("Sentence have the specific word:",specific_word)
else:
        ("not contain the specific word")

Sentence have the specific word: hello

In [44]:
'''Replace a word in a string with another word.'''

'Replace a word in a string with another word.'

In [46]:
s3 = "Hello, See you tomorrow."

In [47]:
s3.replace("tomorrow","day after tomorrow")

'Hello, See you day after tomorrow.'

In [48]:
'''Count the occurrences of a word in a string.'''

'Count the occurrences of a word in a string.'

In [49]:
s45 = "I'm the below avergae student in the below class with below grade."

In [50]:
s45.count("below")

3

In [51]:
'''Find the first occurrence of a word in a string.'''

'Find the first occurrence of a word in a string.'

In [53]:
se = "Hello mister, are you ever come here before. oh mister, i'm talking to you."

In [56]:
se.find("mister")

6

In [1]:
'''13. Find the last occurrence of a word in a string.'''

'13. Find the last occurrence of a word in a string.'

In [21]:
it = "Hello, My name is Abdur"

In [20]:
last_word = "Abdur"

In [19]:
itt = it.rfind(last_word)

In [16]:
itt

18

In [25]:
if last_word !=-1:
    print(f"the last occurance of the word {last_word} was found at position {itt}.")
else:
    print(f"{last_word} not found in the string.")

the last occurance of the word Abdur was found at position 18.

In [28]:
last_word !=-1

True

In [11]:
'''Split a string into a list of words.'''

'Split a string into a list of words.'

In [12]:
s = "Hello Moto"

In [19]:
s1 = s.split()

In [20]:
s1

['Hello', 'Moto']

In [17]:
'''Join a list of words into a string.'''

'Join a list of words into a string.'

In [23]:
list(s1)

['Hello', 'Moto']

In [24]:
s1

['Hello', 'Moto']

In [25]:
type(s1)

list

In [31]:
' '.join(s1)

'Hello Moto'

In [29]:
'''Convert a string where words are separated by spaces to one where words are separated by underscores.'''

'Convert a string where words are separated by spaces to one where words are separated by underscores.'

In [34]:
Sp = "hello, You are my world."

In [37]:
Sp

'hello, You are my world.'

In [38]:
rsp = Sp.replace(" ","_")

In [39]:
rsp

'hello,_You_are_my_world.'

In [40]:
'''Check if a string starts with a specific word or phrase.'''

'Check if a string starts with a specific word or phrase.'

In [57]:
df = "lets explore the world"

In [58]:
df

'lets explore the world'

In [60]:
wrd_to_check = "lets"

In [61]:
if df.startswith(wrd_to_check):
    print(f"yes, it is starting with '{wrd_to_check}'")
else:
          print(f"No, it is not starting with that word.")

yes, it is starting with 'lets'

In [62]:
'''Check if a string ends with a specific word or phrase.'''

'Check if a string ends with a specific word or phrase.'

In [63]:
df

'lets explore the world'

In [64]:
word_to_check = "world"

In [65]:
if df.endswith(word_to_check):
    print(f" Yes,it end with '{word_to_check}'")
else:
    print(f" No, it is not ending with '{word_to_check}'")

 Yes,it end with 'world'

In [66]:
'''Convert a string to title case (e.g., "hello world" to "Hello World").'''

'Convert a string to title case (e.g., "hello world" to "Hello World").'

In [67]:
h = "hello world"

In [68]:
h1 = h.title()

In [69]:
h1

'Hello World'

In [1]:
'''Find the longest word in a string'''

'Find the longest word in a string'

In [6]:
def find_longest_word(text):
    words = text.split()
    
    
    longes_word = " "
    max_length = 0
    
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word

text = "Hello, you are a elephant."
longest_word = findef d_longest_word(text)
print("longest word is", longest_word)

longest word is elephant.

In [7]:
'''Find the shortest word in a string.'''

'Find the shortest word in a string.'

In [10]:
def find_shortest_word(text):
    shrt = text.split()
    
    shortest_word = None
    min_length = float('inf')
    
    for sht in shrt:
        if len(sht) < min_length:
            min_length = len(sht)
            shortest_word = sht
    return shortest_word

text = "Hello, You are my world and my love of life. living without you is not possile for a single moment."
shortest_word = find_shortest_word(text)
print("Shortest_word", shortest_word)

Shortest_word a

In [11]:
'''Reverse the order of words in a string.'''

'Reverse the order of words in a string.'

In [14]:
h1 = "Youa are my world."

In [15]:
h1

'Youa are my world.'

In [16]:
h1[::-1]

'.dlrow ym era auoY'

In [17]:
'''Check if a string is alphanumeric.'''

#23

'Check if a string is alphanumeric.'

In [18]:
h2 = "hello123456"

In [19]:
type(h2)

str

In [20]:
h2.isalnum()

True

In [1]:
''' Extract all digits from a string.'''

#24

' Extract all digits from a string.'

In [9]:
import re

text = "my number is 8339813129"

digit = re.findall(r'\d',text)

dig_join = "".join(digit)

print("the digit are,", dig_join)

the digit are, 8339813129

In [12]:
#another way to do this

def all_digit_in_string(text):
    digit = ""
    
    for char in text:
        if char.isdigit():
            digit +=char
            
    return digit

text = "my number is 8339813129"
digit_no = all_digit_in_string(text)
print("the digit are", digit_no)

the digit are 8339813129

In [13]:
'''Extract all alphabets from a string.'''

#25 question

'Extract all alphabets from a string.'

In [3]:
def alpha_string(text):
    alphabat = ""
    
    for char in text:
        if char.isalpha():
            alphabat +=char
    
    return alphabat

text = "hello world 123"
alph = alpha_string(text)
print("total text", alph)

total text helloworld

In [8]:
# one more way 
import re

text = "hello ttttt 12345"

aph = re.findall(r'[a-zA-Z]',text)

apht = "".join(aph)

print("all the alph are,", apht)

all the alph are, hellottttt

In [9]:
# 26

'''Count the number of uppercase letters in a string.'''

'Count the number of uppercase letters in a string.'

In [23]:
T7 = "HELLO WORLD, This is your Titu."

t8 = 0

for char in T7:
    if char.isupper():
        t8 += 1
print(" the total number of uppercase,", t8)

 the total number of uppercase, 12

In [24]:
'''. Count the number of lowercase letters in a string.'''

#27 question

'. Count the number of lowercase letters in a string.'

In [25]:
T7 = "HELLO WORLD, This is your Titu."

t8 = 0

for char in T7:
    if char.islower():
        t8 += 1
print(" the total number of uppercase,", t8)

 the total number of uppercase, 12

In [26]:
'''Swap the case of each character in a string.'''

#28 question

'Swap the case of each character in a string.'

In [30]:
T7 = "HELLO WORLD, This is your Titu."

In [31]:
t9 = T7.swapcase()

In [32]:
t9

'hello world, tHIS IS YOUR tITU.'

In [34]:
'''Remove a specific word from a string.'''

#29 question

'Remove a specific word from a string.'

In [35]:
h1 = "hello, You are my world."

word_to_remove = "world"

In [36]:
h2 = h1.replace(word_to_remove, " ")

In [37]:
h2

'hello, You are my  .'

In [6]:
'''Check if a string is a valid email address.'''

'Check if a string is a valid email address.'

In [8]:
def emai_check(email):
    if "@" in email and "." in email:
        parts = email.split("@")
        if len(parts) ==2 and parts[0] and parts[1]:
            domain_parts = parts[1].split(".")
            if len(domain_parts) >=2 and all(domain_parts):
                return True
    return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = emai_check(email1)
result2 = emai_check(email2)

print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [5]:
''' . Extract the username from an email address string.'''

#30 question

' . Extract the username from an email address string.'

In [3]:
def extract_id(email):
    parts = email.split("@")
    
    if len(parts) ==2:
        username = parts[0]
        
        return username 
    else:
        return None 

email = "abdur8339813129@gmail.com"
username = extract_id(email)
if username:
    print("Username: ",username)
else:
    print("Not valid")

Username:  abdur8339813129

In [4]:
'''. Extract the domain name from an email address string.'''

'. Extract the domain name from an email address string.'

In [11]:
def Domain_nam(email):
    parts = email.split("@")
    
    if len(parts) ==2:
        return parts[1]
    else:
        return None

In [12]:
Domain_nam("abdur8339813129@gmail.com")

'gmail.com'

In [13]:
'''Replace multiple spaces in a string with a single space.'''

#33 question

'Replace multiple spaces in a string with a single space.'

In [16]:
H = "Hello,  My name is abdur and  You are my Hero."

H.replace("  "," ")

'Hello, My name is abdur and You are my Hero.'

In [17]:
 '''Check if a string is a valid URL'''
#34

'Check if a string is a valid URL'

In [19]:
import validators

def is_valid_url(url):
    return validators(url)

url = "Http://example.com"
url2 - "invalid-url"

result1 = is_valid_url(url1)
resullt2 = is_valid_url(url2)

print(result1)
print(result2)

ModuleNotFoundError: No module named 'validators'

In [21]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        parsed_url = urlparse(url)
        return all([parsed_url.scheme, parsed_url.netloc])
    except ValueError:
        return False

# Example usage
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)

print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [23]:
'''. Extract the protocol (http or https) from a URL string.'''

#35 question

'. Extract the protocol (http or https) from a URL string.'

In [25]:
from urllib.parse import urlparse

def extract_protocol(url):
    parasd_url = urlparse(url)
    return parasd_url.scheme

url = "http://example.com"
protocol = extract_protocol(url)
print(protocol)

http

In [26]:
''' Find the frequency of each character in a string.'''

#36 question

' Find the frequency of each character in a string.'

In [37]:
def count_characters(input_string):
    # Create an empty dictionary to store character counts
    char_count = {}

    # Iterate through the input string
    for char in input_string:
        # Check if the character is already in the dictionary
        if char in char_count:
            # If it exists, increment the count
            char_count[char] += 1
        else:
            # If it doesn't exist, initialize the count to 1
            char_count[char] = 1

    return char_count

# Example usage
input_string = "hello world"
char_frequency = count_characters(input_string)

# Print the character frequencies
for char, count in char_frequency.items():
    print(f"'{char}' appears {count} times")

'h' appears 1 times
'e' appears 1 times
'l' appears 3 times
'o' appears 2 times
' ' appears 1 times
'w' appears 1 times
'r' appears 1 times
'd' appears 1 times

In [39]:
'''Remove all punctuation from a string.'''
#37 qu

'Remove all punctuation from a string.'

In [49]:
def remove_punc(n):
    punc_char = set("!/\|,.:;<>=?@$%^-~`")
    
    clean_string = "".join(char for char in n if char not in punc_char)
    
    return clean_string

In [50]:
remove_punc("Hello, ? Who are you ?.,")

'Hello  Who are you '

In [2]:
'''Check if a string contains only digits.'''
#38 question

'Check if a string contains only digits.'

In [3]:
d = "ty57868454544343fhvfnviv"

In [5]:
d.isdigit()

False

In [6]:
'''Check if a string contains only alphabets.'''

#39 question

'Check if a string contains only alphabets.'

In [7]:
d.isalpha()

False

In [8]:
'''Convert a string to a list of characters.'''

#40 question

'Convert a string to a list of characters.'

In [11]:
dt = "hello India, Thank You"

In [14]:
dtt = [char for char in dt]    

print(dtt, end = " ")

['h', 'e', 'l', 'l', 'o', ' ', 'I', 'n', 'd', 'i', 'a', ',', ' ', 'T', 'h', 'a', 'n', 'k', ' ', 'Y', 'o', 'u']

In [15]:
''''Check if two strings are anagrams.'''

"'Check if two strings are anagrams."

In [18]:
def stn_an(s1,s2):
    s1 = s1.replace(" ","").lower()
    s2 = s2.replace(" ","").lower()
    
    return sorted(s1) == sorted(s2)

stn_an("Abdur","raheman")

False

In [20]:
'''ncode a string using a Caesar cipher.'''

#42 ques

'ncode a string using a Caesar cipher.'

In [21]:
def caesar_cipher(text, shift):
    encoded_text = ""
    
    for char in text:
        if char.isalpha():  # Check if the character is a letter
            if char.islower():
                # Shift lowercase letters
                encoded_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            else:
                # Shift uppercase letters
                encoded_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
        else:
            # Keep non-alphabet characters unchanged
            encoded_char = char
        
        encoded_text += encoded_char
    
    return encoded_text

# Example usage
input_text = "Hello, World!"
shift_amount = 3
encoded_text = caesar_cipher(input_text, shift_amount)

print("Original text:", input_text)
print("Encoded text:", encoded_text)

Original text: Hello, World!
Encoded text: Khoor, Zruog!

In [22]:
'''Decode a Caesar cipher encoded string.'''

#43 q

'Decode a Caesar cipher encoded string.'

In [24]:
def caesar_decipher(encoded_text, shift):
    decoded_text = ""
    
    for char in encoded_text:
        if char.isalpha():  # Check if the character is a letter
            if char.islower():
                # Shift lowercase letters back to their original positions
                decoded_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            else:
                # Shift uppercase letters back to their original positions
                decoded_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
        else:
            # Keep non-alphabet characters unchanged
            decoded_char = char
        
        decoded_text += decoded_char
    
    return decoded_text

# Example usage
encoded_text = "Khoor, Zruog!"
shift_amount = 3
decoded_text = caesar_decipher(encoded_text, shift_amount)

print("Encoded text:", encoded_text)
print("Decoded text:", decoded_text)

Encoded text: Khoor, Zruog!
Decoded text: Hello, World!

In [25]:
'''Find the most frequent word in a string.'''

#44 q

'Find the most frequent word in a string.'

In [27]:
d = "Hello world, hello all, hello titu and hello minu"

In [35]:
def fre_sty(n):
    words = n.split()
    
    word_fr = {}
    for i in words:
        i = i.lower()
        if i in word_fr:
            word_fr[i]+=1
        else:
            word_fr[i] =1
            
    most_freq = max(word_fr, key =word_fr.get)
    
    return most_freq

In [36]:
fre_sty("hello my owrld, hello my jaan, hello my ritu and hello my titu")

'hello'

In [37]:
''' Find all unique words in a string.'''
#45 ques

' Find all unique words in a string.'

In [39]:
h = "Hello my world. you are the and my everything."

In [44]:
uni = h.split()

In [47]:
s = set(uni)

In [48]:
s

{'Hello', 'and', 'are', 'everything.', 'my', 'the', 'world.', 'you'}

In [49]:
''' Count the number of syllables in a string.'''
#46 ques

' Count the number of syllables in a string.'

In [1]:
import re

def count_syllables(text):
    syllable_pattern = r'[aeiouyAEIOUY]+'

    syllables = re.findall(syllable_pattern, text)

   
    syllable_count = len(syllables)

    return syllable_count

text = "This is an example sentence with several words."
syllable_count = count_syllables(text)
print(f"The text has {syllable_count} syllables.")

The text has 14 syllables.

In [2]:
'''Check if a string contains any special characters.'''

#47 question

'Check if a string contains any special characters.'

In [6]:
def spe_ch(text):
    for char in text:
        if not char.isalnum() and not char.isalpha():
            return True 
    return False

t1 = "Hello, My world is you."
t2 = "This is a string with a special character: @"

tt1 = spe_ch(t1)
tt2 = spe_ch(t2)

print(tt1)
print(tt2)

True
True

In [7]:
'''Remove the nth word from a string'''

# 48 qes

'Remove the nth word from a string'

In [1]:
def remove_nth_word(text, n):

    words = text.split()

   
    if n <= 0 or n > len(words):
        return "Invalid n value. The word cannot be removed."


    del words[n - 1]

 
    result = ' '.join(words)

    return result

input_text = "This is a sample sentence to demonstrate removing the nth word."
n = 4

new_text = remove_nth_word(input_text, n)
print("Modified text:")
print(new_text)

Modified text:
This is a sentence to demonstrate removing the nth word.

In [2]:
'''Insert a word at the nth position in a string.'''

# 49 question

'Insert a word at the nth position in a string.'

In [9]:
def ins_word(text, word_to_insert,n):
    word = text.split()
    
    if n>=0 and n<=len(word):
        word.insert(n,word_to_insert)
        
        mod_sen = ' '.join(word)
        
        return mod_sen
    else:
        return text
input_in = "this is a sample question."
word_to_insert = "for"
postion_to_insert = 2

final_text = ins_word(input_in,word_to_insert,postion_to_insert)

print(final_text)

this is for a sample question.

In [11]:
'''Convert a CSV string to a list of lists.'''

#50 question

'Convert a CSV string to a list of lists.'

In [13]:
import csv

def csv_file(csv_string):
    
    csv_line = csv_string.splitlines()
    csv_reader = csv.reader(csv_line)
    
    csv_list = list(csv_reader)
    
    return csv_list

In [14]:
csv_file("Name,Age,Location\nAlice,25,New York\nBob,30,Los Angeles\nCharlie,22,San Francisco")

[['Name', 'Age', 'Location'],
 ['Alice', '25', 'New York'],
 ['Bob', '30', 'Los Angeles'],
 ['Charlie', '22', 'San Francisco']]

In [16]:
###List Based Practice Problem :

In [17]:
#1 
'''Create a list with integers from 1 to 10'''

'Create a list with integers from 1 to 10'

In [21]:
c = list(range(1,11))

In [22]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
#2 question
'''Find the length of a list without using the `len()` function.'''

'Find the length of a list without using the `len()` function.'

In [24]:
def lent_sen(text):
    length = 0
    
    for i in text:
        length +=1
    return length

In [25]:
lent_sen([1,2,3,4,5,6,7])

7

In [26]:
# 3 question

'''Append an element to the end of a list.'''

'Append an element to the end of a list.'

In [27]:
d =[1,2,34,56,7,8,9,10]

In [29]:
y = d.append(2)

In [30]:
d

[1, 2, 34, 56, 7, 8, 9, 10, 2]

In [31]:
# 4 question
'''Insert an element at a specific index in a list.'''

'Insert an element at a specific index in a list.'

In [49]:
d = [1,2,3,4,5,6,8,9,10]

In [50]:
y = d.insert(6,7)

In [51]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# 5 question

'''Remove an element from a list by its value.'''

'Remove an element from a list by its value.'

In [53]:
d =[1,2,3,4,5,6,7,"abdur","sakil"]

In [54]:
h = d.remove("abdur")

In [55]:
d

[1, 2, 3, 4, 5, 6, 7, 'sakil']

In [56]:
# 6 question 
'''Remove an element from a list by its index.'''

'Remove an element from a list by its index.'

In [57]:
f  = [1,2,3,4,5,6,78,"Sakil", "Sahil"]

In [59]:
g = f.pop(7)

In [60]:
f

[1, 2, 3, 4, 5, 6, 78, 'Sahil']

In [61]:
# 7 question
'''Check if an element exists in a list.'''

'Check if an element exists in a list.'

In [62]:
h = [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17]

In [67]:
if 3 in h:
    print("yes exist")
else:
    print("Didn't exist")

yes exist

In [68]:
# 8 question 

''' Find the index of the first occurrence of an element in a list'''

' Find the index of the first occurrence of an element in a list'

In [79]:
d = [1,2,3,4,5,6,7,8,"Sakil","Sahil"]

element_to_find = 1

indeces = [i for i, item in enumerate(d) if item ==element_to_find]

if indeces:
    print(f'the 1st occurance of {element_to_find} is at a index of {indeces[0]}')
    
else:
    print("we dont't find anything")

the 1st occurance of 1 is at a index of 0

In [80]:
# 9 uq 
'''Count the occurrences of an element in a list.'''

'Count the occurrences of an element in a list.'

In [87]:
d = [1,2,3,4,5,5,5,5,5,6,6,6,6,66,6,6,6,6,5,6,7,8,"Sakil","Sahil"]

d.count(6)

9

In [88]:
#10 question 
'''Reverse the order of elements in a list.'''

'Reverse the order of elements in a list.'

In [93]:
d = [1,2,3,4,5,5,5,5,5,6,6,6,6,66,6,6,6,6,5,6,7,8,"Sakil","Sahil"]

d.reverse()

In [95]:
print(d,end = " ")

['Sahil', 'Sakil', 8, 7, 6, 5, 6, 6, 6, 6, 66, 6, 6, 6, 6, 5, 5, 5, 5, 5, 4, 3, 2, 1]

In [96]:
#11 Q

'''Sort a list in ascending order.'''

'Sort a list in ascending order.'

In [98]:
d = [10,9,8,7,6,5,4,3,2,1]

sorted(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#12 question

'''Sort a list in descending order'''

'Sort a list in descending order'

In [101]:
f = [1,2,3,4,5,6,7,8910,10]

sorted(f, reverse = True)

[8910, 10, 7, 6, 5, 4, 3, 2, 1]

In [102]:
#13 question
'''Create a list of even numbers from 1 to 20.'''

'Create a list of even numbers from 1 to 20.'

In [108]:
def even_no(num):
    n = 0
    
    for i in num:
        if i %2 ==0:
            print(i, end = " ")

In [109]:
even_no(range(1,11))

2 4 6 8 10

In [110]:
# 14 question
'''Create a list of odd numbers from 1 to 20.'''

'Create a list of odd numbers from 1 to 20.'

In [112]:
def odd_no(num):
    n = 0
    
    for i in num:
        if i %2 !=0:
            print(i, end = " ")

In [113]:
odd_no(range(1,11))

1 3 5 7 9

In [114]:
# 15 ques

'''Find the sum of all elements in a list.'''

'Find the sum of all elements in a list.'

In [115]:
f = [1,2,3,4,5,6,7,8910,10]

sum(f)

8948

In [116]:
# 16 question

'''Find the maximum value in a list.'''

'Find the maximum value in a list.'

In [117]:
f

[1, 2, 3, 4, 5, 6, 7, 8910, 10]

In [118]:
max(f)

8910

In [119]:
# 17 ques

'''Find the minimum value in a list.'''

'Find the minimum value in a list.'

In [120]:
f

[1, 2, 3, 4, 5, 6, 7, 8910, 10]

In [121]:
min(f)

1

In [123]:
#18 question
'''Create a list of squares of numbers from 1 to 10'''

'Create a list of squares of numbers from 1 to 10'

In [131]:
square = [i**2 for i in range(1,11)]

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
#19
'''Create a list of random numbers.'''

'Create a list of random numbers.'

In [133]:
import random 

ran_no = [random.randint(1,100) for _ in range(10)]

print(ran_no)

[74, 11, 96, 25, 52, 28, 67, 17, 70, 97]

In [134]:
#20 q

'''. Remove duplicates from a list.'''

'. Remove duplicates from a list.'

In [139]:
d = [1,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,7,7,8,8,8,8,8,8]

In [140]:
set(d)

{1, 2, 3, 4, 5, 6, 7, 8}

In [141]:
#21 quest
'''Find the common elements between two lists.'''

'Find the common elements between two lists.'

In [1]:
l1 = [1,2,3,4,5,67]
l2 = [12,13,45,67,]

s1 = set(l1)
s2 =set(l2)

common_sec = s1.intersection(s2)

common_lst = list(common_sec)

print(common_lst)

[67]

In [2]:
#22 Question
'''Find the difference between two lists.'''

'Find the difference between two lists.'

In [3]:
l1 = [1,2,3,4,5,67]
l2 = [12,13,45,67,]

s11 = set(l1)
s22 = set(l2)

diff_sec = s11.difference(s22)

diff_list = list(diff_sec)

print(diff_list)

[1, 2, 3, 4, 5]

In [4]:
#23 question

'''Merge two lists.'''

'Merge two lists.'

In [9]:
l1 = [1,2,3,4,5,67]
l2 = [12,13,45,67,]


print(l1+l2)

[1, 2, 3, 4, 5, 67, 12, 13, 45, 67]

In [10]:
#24 question
'''Multiply all elements in a list by 2.'''

'Multiply all elements in a list by 2.'

In [19]:
l1 = [1,2,3,4,5,67]

In [21]:
for i in l1:
    l4 = i*2
    print(l4, end = " ")

2 4 6 8 10 134

In [22]:
# 25 question

'''. Filter out all even numbers from a list.'''

'. Filter out all even numbers from a list.'

In [28]:
ll1 = [11,2,3,4,5,6,7,8,9,90,46,47,68,69,89]

In [35]:
for i in ll1:
    if i%2==0:
        print(i, end =" ")
else:
    print()

2 4 6 8 90 46 68

In [36]:
#26 question
'''Convert a list of strings to a list of integers.'''

'Convert a list of strings to a list of integers.'

In [37]:
l1 = ['1','2','3','4','5']

In [43]:
l2 =[int(x) for x in l1]

In [44]:
l2

[1, 2, 3, 4, 5]

In [45]:
#27 question
'''Convert a list of integers to a list of strings.'''

'Convert a list of integers to a list of strings.'

In [46]:
l1 = [1,2,3,4,5,6,7,8]

In [47]:
l2 = [str(x) for x in l1]

In [49]:
l2

['1', '2', '3', '4', '5', '6', '7', '8']

In [50]:
#28 question
'''Flatten a nested list.'''

'Flatten a nested list.'

In [51]:
def flt_lst(nested_list):
    flattern_list = []
    
    for i in nested_list:
        if isinstance(i, list):
            flattern_list.extend(flt_lst(i))
        else:
            flattern_list.append(i)
    return flattern_list

In [53]:
flt_lst([11,2,4,[2,3,4,5],[67,78,87,65],67,78])

[11, 2, 4, 2, 3, 4, 5, 67, 78, 87, 65, 67, 78]

In [54]:
# 29 question
'''Create a list of the first 10 Fibonacci numbers'''

'Create a list of the first 10 Fibonacci numbers'

In [55]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  #

    while len(fibonacci_list) < n:
       
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list


first_10_fibonacci = generate_fibonacci(10)

# Print the result
print("First 10 Fibonacci numbers:", first_10_fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [56]:
# 30 QUESTION
'''Check if a list is sorted.'''

'Check if a list is sorted.'

In [57]:
def srt_lst(input_no):
    
    return input_no == sorted(input_no)

In [59]:
s1 =[1,2,3,4,5,6,7]
s2 = [3,4,2,6,4,8,7,]

s11 = srt_lst(s1)
s22 = srt_lst(s2)

print(s11)
print(s22)

True
False

In [60]:
# 31 question
'''Rotate a list to the left by `n` positions.'''

'Rotate a list to the left by `n` positions.'

In [62]:
def rotate_left(input_list, n):
  
    rotated_list = input_list[n % len(input_list):] + input_list[:n % len(input_list)]
    
    return rotated_list

my_list = [1, 2, 3, 4, 5]
rotated = rotate_left(my_list, 2)
print(rotated)

[3, 4, 5, 1, 2]

In [63]:
# 32 question
'''Rotate a list to the right by `n` positions'''

'Rotate a list to the right by `n` positions'

In [64]:
def rotate_right(input_list, n):
    
    if not input_list or n == 0:
        return input_list

    
    effective_rotation = n % len(input_list)

    
    rotated_list = input_list[-effective_rotation:] + input_list[:-effective_rotation]

    return rotated_list


my_list = [1, 2, 3, 4, 5]
rotated = rotate_right(my_list, 2)
print(rotated)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [1]:
#. Create a list of prime numbers up to 50.
# q 33

In [2]:
from sympy import primerange

pr_num = list(primerange(2,51))

In [3]:
pr_num

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
#. Split a list into chunks of size `n`.
#Q 34

In [5]:
def split_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
result = split_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [6]:
 #Find the second largest number in a list.
# q 35

In [9]:
l1 = [1,2,3,5,6,4,7,8,32,31,56,52,24,76,61]

l2 = set(l1)

In [10]:
l2

{1, 2, 3, 4, 5, 6, 7, 8, 24, 31, 32, 52, 56, 61, 76}

In [14]:
l3 = sorted(l2)

print("the 2nd largest number is",l3[-2])

the 2nd largest number is 61

In [15]:
#Replace every element in a list with its square
#36 question

In [16]:
l = [1,2,3,4,5,6,7,8,9]

In [18]:
list(map(lambda a: a**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
#Convert a list to a dictionary where list elements become keys and their
#indices become values.
#37 Q

In [20]:
def q34(**n):
    return n

In [24]:
q34(name = 'abdur',course= 'dsa')

{'name': 'abdur', 'course': 'dsa'}

In [29]:
#one more method

li = ['apple','banana','orange','papaya']

my_dic = {index:element for index, element in enumerate(li)}

In [30]:
my_dic

{0: 'apple', 1: 'banana', 2: 'orange', 3: 'papaya'}

In [31]:
#Shuffle the elements of a list randomly.
#38 QUESTION

In [32]:
LI = [1,2,3,4,5,6,7,'ABDUR','RH','ARSHI']

In [38]:
import random

random.shuffle(LI)
print(LI)

[7, 5, 'RH', 'ABDUR', 3, 4, 6, 2, 'ARSHI', 1]

In [39]:
#Create a list of the first 10 factorial numbers.

#39 ques

In [44]:
 def fact_n(n):
        if n== 1 or n == 0:
            return 1
        else:
            return n* fact_n(n-1)

In [45]:
fact_1 = [fact_n(i) for i in range(10)]
print(fact_1)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [1]:
# Check if two lists have at least one element in common.
# 40 question

In [3]:
l1 = [1,2,3,4,5,6,78,9]
l2 = [2,45,56,76,54,34,98,89]

In [4]:
set1 = set(l1)
set2 = set(l2)

In [5]:
set1.intersection(set2)

{2}

In [6]:
#Remove all elements from a list
# 41 question

In [7]:
l1

[1, 2, 3, 4, 5, 6, 78, 9]

In [10]:
l1.clear()

print(l1)

[]

In [11]:
#Replace negative numbers in a list with 0.

#42 question

In [22]:
def neg_re(list1):
    return [0 if num<0 else num for num in list1]

In [23]:
l1 = [-1,-2,-3,-7,-9,0,34,45,56,23,45]

neg_re(l1)

[0, 0, 0, 0, 0, 0, 34, 45, 56, 23, 45]

In [39]:
#One more method to do this 

l = [1,2,3,4,5,6,7-1,-2,-3,-4,-65]

def neg_ree(l1):
    for num in range(len(l1)):
        if l1[num] < 0:
            l1[num] = 0
    return l1

In [40]:
l = [1,2,3,4,5,6,7-1,-2,-3,-4,-65]

neg_ree(l)

[1, 2, 3, 4, 5, 6, 6, 0, 0, 0, 0]

In [41]:
#Convert a string into a list of words.
#43 question

In [42]:
d = "Bhubaneshwar is a safe place to stay."

In [45]:
d1 = list(d.split())
print(d1)

['Bhubaneshwar', 'is', 'a', 'safe', 'place', 'to', 'stay.']

In [46]:
type(d1)

list

In [47]:
#Convert a list of words into a string.
#44 question

In [48]:
d1

['Bhubaneshwar', 'is', 'a', 'safe', 'place', 'to', 'stay.']

In [50]:
l2 = ' '.join(d1)
print(l2)

Bhubaneshwar is a safe place to stay.

In [51]:
#Create a list of the first `n` powers of 2.
# 45 question

In [57]:
n = range(5)

list(map(lambda a: 2**a, n))

[1, 2, 4, 8, 16]

In [58]:
#Find the longest string in a list of strings.
# 46 question

In [63]:
lis = "Bhubaneshwar is a safe city."

l1 = list(lis.split())
print(l1)

['Bhubaneshwar', 'is', 'a', 'safe', 'city.']

In [68]:
longest = " "

for char in l1:
    if len(char) > len(longest):
        longest = char
print(longest)

Bhubaneshwar

In [69]:
#Find the shortest string in a list of strings.

# 47 question

In [70]:
l1

['Bhubaneshwar', 'is', 'a', 'safe', 'city.']

In [73]:
short = "l1[0]"
for char in l1:
    if len(char) < len(short):
        short = char
print(short)

a

In [75]:
#Create a list of the first `n` triangular numbers. 

#48 question

In [1]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5


triangular_list = triangular_numbers(n)


print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [2]:
#Check if a list contains another list as a subsequence
#49 question

In [2]:
def is_subse(subse,main_list):
    
    sub_set = 0
    
    for element in main_list:
        if element == subse[sub_set]:
            sub_set +=1
            if sub_set == len(subse):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subse = [1, 2, 10]

if is_subse(subse,main_list):
    print("yes it contain")
else:
    print("it doesn't contain")

yes it contain

In [3]:
#Swap two elements in a list by their indices
# 50 question

In [12]:
def swap_no(my_list,indx1,indx2):
    temp = my_list[indx1]
    my_list[indx1] = my_list[indx2]
    my_list[indx2] = temp
    
p = [1,'abdur','raheman','arshi','rahul']

swap_no(p,2,3)
print(p)

[1, 'abdur', 'arshi', 'raheman', 'rahul']

In [13]:
#Tuple Based Practice Problem

In [15]:
#Create a tuple with integers from 1 to 5.
# 1 question

In [18]:
l1 = tuple(range(1,6))
print(l1)

(1, 2, 3, 4, 5)

In [19]:
#Access the third element of a tuple.
#2 question

In [20]:
l1.index(3)

2

In [21]:
#Find the length of a tuple without using the `len()` function.
# 3 question

In [31]:
t2 = (1,2,2,2,2,3,3,4,2,2,5,6,7)

In [32]:
def length_t(n):
    a = 0
    
    for _ in n:
        a +=1
    return a
print(length_t(t2))

13

In [28]:
#Count the occurrences of an element in a tuple.
#4 questiont

In [33]:
t2.count(2)

6

In [34]:
#Find the index of the first occurrence of an element in a tuple.
#5 question

In [35]:
t2.index(1)

0

In [36]:
#Check if an element exists in a tuple.
#6 question

In [39]:
t2

(1, 2, 2, 2, 2, 3, 3, 4, 2, 2, 5, 6, 7)

In [40]:
element_to_check = 3

if element_to_check in t2:
    print(f" yes, {element_to_check} availaleb in {t2}")
else:
    print(f"no, it is not available")

 yes, 3 availaleb in (1, 2, 2, 2, 2, 3, 3, 4, 2, 2, 5, 6, 7)

In [41]:
#Convert a tuple to a list.
#7 question

In [42]:
t2

(1, 2, 2, 2, 2, 3, 3, 4, 2, 2, 5, 6, 7)

In [43]:
d1 = list(t2)

print(d1)

[1, 2, 2, 2, 2, 3, 3, 4, 2, 2, 5, 6, 7]

In [44]:
#Convert a list to a tuple
#8 question

In [45]:
type(d1)

list

In [46]:
d2 = tuple(d1)

In [48]:


type(d2)

tuple

In [49]:
d2

(1, 2, 2, 2, 2, 3, 3, 4, 2, 2, 5, 6, 7)

In [50]:
#Unpack the elements of a tuple into variables.
# 9 question

In [54]:
g2 = (1,2,3)

a,b,c = g2

print("unpacked variable")
print("a =", a)
print("b =", b)
print("c =", c)

unpacked variable
a = 1
b = 2
c = 3

In [55]:
#Create a tuple of even numbers from 1 to 10.
#10 question

In [60]:
def even_nn(n):
    a = []
    
    for i in n:
        if i%2 ==0:
            a.append(i)
    return tuple(a)

t = range(1,11)

r = even_nn(t)
print(r)

(2, 4, 6, 8, 10)

In [61]:
#Create a tuple of odd numbers from 1 to 10.
#11 question

In [63]:
def odd_no(n):
    a = []
    
    for i in n:
        if i%2 !=0:
            a.append(i)
    return tuple(a)

t = range(1,11)
r = odd_no(t)
print(r)

(1, 3, 5, 7, 9)

In [64]:
#Concatenate two tuples.
# 12 q

In [65]:
t2 = (1,2,3,4,5)
t3 = (6,7,8,9,10)

In [69]:
d = t2+t3

print(d)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [70]:
#Repeat a tuple three times.
#13 question

In [72]:
d2 = (2,3,4,5,6,7,9)

print(3 * d2, end = '')

(2, 3, 4, 5, 6, 7, 9, 2, 3, 4, 5, 6, 7, 9, 2, 3, 4, 5, 6, 7, 9)

In [80]:
#Check if a tuple is empty.
# 15 question

In [81]:
empt_tuple = ()

if not empt_tuple:
    print("not a empty tuple")
else:
    print("Empty Tuple")

not a empty tuple

In [82]:
#Create a nested tuple.
# 16 q

In [85]:
nt = ((1,2,3), (3,4,5),(7,8,9))

print(nt[0])
print(nt[1])
print(nt[2])

#to access the nested tuple

print(nt[0][0])
print(nt[0][1])
print(nt[0][2])

(1, 2, 3)
(3, 4, 5)
(7, 8, 9)
1
2
3

In [86]:
#Access the first element of a nested tuple.
# 16 que

In [87]:
print(nt[0][0])

1

In [88]:
#Create a tuple with a single element.
# 17 q

In [90]:
d = (1,)

In [91]:
d

(1,)

In [92]:
#Compare two tuples.
#18 qu

In [2]:
s1 = (1,2,3,4,5,6,7,8,9)
s2 = (2,3,4,5,6,7)

In [3]:
if s1 == s2:
    print("both are same")
if s1 != s2:
    print("not equal")
if s1 > s2:
    print("s1 is greater")
else:
    print("s2 is greater")

not equal
s2 is greater

In [4]:
#Delete a tuple.
# 19 question

In [5]:
s1

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
del s1

print(s1)

NameError: name 's1' is not defined

In [7]:
#Slice a tuple.
#20 question

In [15]:
s1 = ("abdur","raheman","arshi","rohan")

In [18]:
s = s1[1:4]

In [19]:
s

('raheman', 'arshi', 'rohan')

In [ ]:
#Find the maximum value in a tuple
#21 QUESTION

In [2]:
s22 = ("elephant","fox","tiger","lion")

In [40]:
sw = max(s22, key = len)

print(sw)

elephant

In [41]:
#Find the minimum value in a tuple.
#22 question

In [3]:
sp = min(s22, key = len)

print(sp)

fox

In [4]:
#Convert a string to a tuple of characters.

#23 question

In [8]:
stt = "Hello you are my world."

char_tuple = ()

for char in stt:
    char_tuple +=(char,)
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ' ', 'y', 'o', 'u', ' ', 'a', 'r', 'e', ' ', 'm', 'y', ' ', 'w', 'o', 'r', 'l', 'd', '.')

In [9]:
#Convert a tuple of characters to a string.
# 24 question

In [11]:
joined_charter = "".join(char_tuple)

print(joined_charter)

Hello you are my world.

In [12]:
#Create a tuple from multiple data types.
#25 question

In [18]:
name = "abdur"
rollno = 32
clas = "32 DSA"

jointuple = tuple(name) + tuple(str(rollno)) + tuple(clas)

print(jointuple)

('a', 'b', 'd', 'u', 'r', '3', '2', '3', '2', ' ', 'D', 'S', 'A')

In [19]:
#Check if two tuples are identical.
# 26 question

In [20]:
t = (2,3,4,5,6,78,9)
y = (2,3,4,5,6,78,9)

if t == y:
    print("yes both are same")
else:
    print("no both are not same")

yes both are same

In [21]:
#Sort the elements of a tuple.
# 27 question

In [28]:
t = (1,2,3,4,5,6, "abdur", "raheman")

tl = list(t)
fg = sorted(tl, key = str)
print(fg)

[1, 2, 3, 4, 5, 6, 'abdur', 'raheman']

In [29]:
#Convert a tuple of integers to a tuple of strings.
#28 question

In [31]:
t = (1,2,3,45,56)

ti = str(t)
print(ti)

(1, 2, 3, 45, 56)

In [33]:
type(ti)

str

In [34]:
#Convert a tuple of strings to a tuple of integers.
#29 ques

In [36]:
ti = ("1","2","3","4")

conts = tuple(int(x) for x in ti)
print(conts)

(1, 2, 3, 4)

In [37]:
type(conts)

tuple

In [1]:
#Merge two tuples.
#30 question

In [2]:
t = (1,2,4,34,5,6,)
t1 = (2,3,3,4,5,6,7,8)

merge = t+ t1
print(merge)

(1, 2, 4, 34, 5, 6, 2, 3, 3, 4, 5, 6, 7, 8)

In [3]:
#Flatten a nested tuple

#31 question

In [4]:
t = ((1,2,3),(3,4,5))

notnester = []

for innertuple in t:
    for element in innertuple:
        notnester.append(element)
print(tuple(notnester))

(1, 2, 3, 3, 4, 5)

In [1]:
#Create a tuple of the first 5 prime numbers.
#32 question

In [2]:
import sympy 

prime = list(sympy.primerange(2,12))

prime_t = tuple(prime[:5])

print(prime_t)

(2, 3, 5, 7, 11)

In [3]:
#Check if a tuple is a palindrome.
#33 question

In [7]:
t = (1,2,1)

if t == t[::-1]:
    print("Yes this one is plaindrome")
else:
    print("No this one is not a plaindrome")

Yes this one is plaindrome

In [8]:
#Create a tuple of squares of numbers from 1 to 5.
# 34 question

In [14]:
def sq():
    n = int(input("enter the number"))
    
    sq = []
    
    for i in range(1,n):
        if n <5:
            break
        st = i**2
        sq.append(st)
    return(tuple(sq))

sq()

enter the number 6

(1, 4, 9, 16, 25)

In [10]:
#Filter out all even numbers from a tuple.
#35 question

In [20]:
t = (1,23,4,5,6,7,8,990,56,67,68)

evenno = []

for i in t:
    if i%2 == 0:
        evenno.append(i)
print(tuple(evenno))

(4, 6, 8, 990, 56, 68)

In [19]:
#Multiply all elements in a tuple by 2
#36 question

In [21]:
t = (1,23,4,5,6,7,8,990,56,67,68)

mul2 = tuple([x*2 for x in t])
print(mul2)

(2, 46, 8, 10, 12, 14, 16, 1980, 112, 134, 136)

In [22]:
#Create a tuple of random numbers
#37 question

In [27]:
import random 
t = random.sample(range(1,10),5)
print(t)

[6, 7, 1, 8, 2]

In [28]:
#Check if a tuple is sorted.
#38 question

In [29]:
t =(1,2,4,43,32,2,5,7,8,9,42,5)

if t ==sorted(t):
    print("yes, sorted")
else:
    print("not sorted")

not sorted

In [30]:
# Rotate a tuple to the left by `n` positions.
#39 question

In [38]:
def roatate(tup, n):
    n = n%len(tup)
    rotatetup = tup[n:] +tup[:n]
    return rotatetup

t = (1,3,2,5,6,7,8)
np = 2
roatate(t,np)

(2, 5, 6, 7, 8, 1, 3)

In [35]:
#Rotate a tuple to the right by `n` positions.
#40 question

In [40]:
def rotrig(tup, n):
    n = n% len(tup)
    rotright = tup[-n:] + tup[:-n]
    return rotright

t = (1,3,2,5,6,7,8)
np = 2
rotrig(t,np)

(7, 8, 1, 3, 2, 5, 6)

In [41]:
#Create a tuple of the first 5 Fibonacci numbers.
# 41 question

In [55]:
def fib(n):
    a = [0,1]
    
    while len(a) < n:
        fablist = a[-1] +a[-2]
        a.append(fablist)
    return(a)

fib(5)

[0, 1, 1, 2, 3]

In [56]:
#Create a tuple from user input
# 42 question

In [67]:
todo_list = []
counter = 'y'

def todo():
    while counter !='n':
        t = input("enter your details")
        fg = todo_list.append(t)
        v = input("enter n to exit or enter Y to enter another element")
        if v == 'n':
            break
    return("here is your list", tuple(todo_list))

todo()

enter your details Jogging
enter n to exit or enter Y to enter another element y
enter your details Food
enter n to exit or enter Y to enter another element y
enter your details office
enter n to exit or enter Y to enter another element n

('here is your list', ('Jogging', 'Food', 'office'))

In [68]:
#Swap two elements in a tuple.
# 43 ques

In [74]:
t = (0,1,2,3,4,5,6,7)

mlist = list(t)

index1 = 1
index2 = 2

mlist[index1],mlist[index2] = mlist[index2],mlist[index1]

print(tuple(mlist))

(0, 2, 1, 3, 4, 5, 6, 7)

In [75]:
#Reverse the elements of a tuple.
#44 question

In [77]:
t = (0,1,2,3,4,5,6,7)

reverse = sorted(t,reverse=True)
print(reverse)

[7, 6, 5, 4, 3, 2, 1, 0]

In [78]:
#Create a tuple of the first `n` powers of 2.
#45 question

In [83]:
t = (0,1,2,3,4,5,6,7)

li = list(t)
power = [x**2 for x in li]
print(tuple(power))

(0, 1, 4, 9, 16, 25, 36, 49)

In [84]:
#Find the longest string in a tuple of strings.
#46 question

In [86]:
ty = ('adur','rahemna','elephant','aeroplane','philantrophist')

find = max(ty, key = len)
print(find)

philantrophist

In [87]:
 #Find the shortest string in a tuple of strings.
# 47 ques

In [88]:
ty = ('adur','rahemna','elephant','aeroplane','philantrophist')

find = min(ty, key = len)
print(find)

adur

In [89]:
#Create a tuple of the first `n` triangular numbers.
# 48 questoin

In [95]:
def traingularn(n):
    return [i*(i+1)//2 for i in range(1,n+1)]

n = 5

tri_no = traingularn(n)
print(tuple(tri_no))

(1, 3, 6, 10, 15)

In [96]:
#Check if a tuple contains another tuple as a subsequence.
# 49 question

In [105]:
def subseq(mainlist, seb):
    occ = 0
    for element in mainlist:
        if element == seb[occ]:
            occ +=1
            if occ == len(seb):
                return print("yes subset")
    return print("no subset")

t = (1,32,54,57,78,89,90)

t1 = (32,54,57)

subseq(t,t1)

yes subset

In [106]:
#Create a tuple of alternating 1s and 0s of length `n`.
#50 question

In [7]:
n = int(input("enter the no"))

for element in range(n):
    r = element%2
    print(r, end = " ")

enter the no 5

0 1 0 1 0

In [8]:
#SET

In [9]:
#Create a set with integers from 1 to 5.
# 1 question

In [11]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [12]:
#Add an element to a set.
# 2 question

In [15]:
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [16]:
#Remove an element from a set.
# 3 question

In [17]:
s.remove(3)
print(s)

{1, 2, 4, 5, 6}

In [18]:
#Check if an element exists in a set
#4 question

In [24]:
set_to_check = 4

if set_to_check in s:
    print("yes")
else:
    print("no")

yes

In [25]:
#Find the length of a set without using the `len()` function.
# 5 question

In [35]:
sett = {1,2,3,4,5,787,67,78}
    
count = 0
    
for _ in sett:
    count +=1
print(count)

8

In [36]:
#Clear all elements from a set.
# 6 question

In [37]:
sett.clear()

In [38]:
sett

set()

In [39]:
#Create a set of even numbers from 1 to 10.
# 7 question

In [50]:
myse = set()

for element in range(1,11):
    if element%2 == 0:
        myse.add(element)
print(myse)

{2, 4, 6, 8, 10}

In [51]:
#Create a set of odd numbers from 1 to 10.
#8 qustion

In [52]:
myse = set()

for element in range(1,11):
    if element%2 != 0:
        myse.add(element)
print(myse)

{1, 3, 5, 7, 9}

In [53]:
#Find the union of two set
# 9 question

In [56]:
s = {1,2,3,4,5,67,}
s1 = {2,3,4,5,6,7,67,68}

se = s1.union(s)
print(se)

{1, 2, 3, 4, 5, 6, 7, 67, 68}

In [57]:
#Find the intersection of two sets.
#10 queston

In [59]:
s = {1,2,3,4,5,67}
s1 = {2,3,4,5,6,7,67,68}

se = s.intersection(s1)
print(se)

{2, 67, 3, 4, 5}

In [60]:
#Find the difference between two sets
# 11 question

In [61]:
s = {1,2,3,4,5,67}
s1 = {2,3,4,5,6,7,67,68}

se = s.difference(s1)
print(se)

{1}

In [62]:
#Check if a set is a subset of another set.
# 12 question

In [63]:
s = {1,2,3,4,5,6,7,8,9}
s1 = {2,3,4}

se = s1.issubset(s)

print("is subset",se)

is subset True

In [64]:
#Check if a set is a superset of another set
# 13 queestion

In [65]:
s = {1,2,3,4,5,6,7,8,9}
s1 = {2,3,4}

se = s.issuperset(s1)

print("is superst",se)

is superst True

In [66]:
#Create a set from a list.
# 14 question

In [67]:
l = [1,2,3,4,5,6,6,6,"abdu","rash","horses"]

covet = set(l)
print(covet)

{1, 2, 3, 4, 5, 6, 'rash', 'horses', 'abdu'}

In [68]:
#Convert a set to a list
# 15 question

In [69]:
reversecovet = list(covet)
print(reversecovet)

[1, 2, 3, 4, 5, 6, 'rash', 'horses', 'abdu']

In [70]:
#Remove a random element from a set.
# 16 questipon

In [73]:
import random  
my_set = {1, 2, 3, 4, 5}


print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

In [74]:
#Pop an element from a set.
#17 question

In [75]:
my_set = {1, 2, 3, 4, 5}

r = my_set.pop()
print(my_set)

{2, 3, 4, 5}

In [77]:
#Check if two sets have no elements in common.
#18 question

In [78]:
set1 = {1, 2, 3, 4}
set2 = {5, 2, 7, 8}


common_elements = set1.intersection(set2)


if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {2}

In [1]:
#Find the symmetric difference between two sets.
# 19 question

In [4]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 1}

sym = set1.symmetric_difference(set2)

if not sym:
    print("No symmetric difference")
else:
    print("yes symetric difference", sym)

yes symetric difference {2, 3, 4, 5, 6, 7}

In [5]:
#Update a set with elements from another set.
#20 qustion

In [16]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 1}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [17]:
#Create a set of the first 5 prime numbers
# 21 question

In [74]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num **.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()


num = 2

while len(prime_set) < 5:
        if is_prime(num):
            prime_set.add(num)
        num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [35]:
#Check if two sets are identical.
#22 question

In [36]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 1}


if set1 == set2:
    print("yes Identical")
else:
    print("Not identical")

Not identical

In [37]:
#Create a frozen set.
#23 qustion

In [38]:
set1 ={1,2,3,4,5}

froset = frozenset(set1)
print(froset)

frozenset({1, 2, 3, 4, 5})

In [39]:
#Check if a set is disjoint with another set.
#24 question

In [44]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 1}

if  set1.isdisjoint(set2):
    print(" yes Disjoint")
else:
    print("No Disjoint")

No Disjoint

In [45]:
#Create a set of squares of numbers from 1 to 5.
#25 QUESTION

In [53]:
se = set()

for num in range(1,6):
    r = num**2
    se.add(r)
print(se)

{1, 4, 9, 16, 25}

In [54]:
#Filter out all even numbers from a set.
# 26 question

In [60]:
set1 = {1,2,3,4,5,6,7,8,9}

set2 = list(set1)

even = set()

for num in set2:
    if num%2 == 0:
        even.add(num)
print(even)

{8, 2, 4, 6}

In [61]:
#Multiply all elements in a set by 2
#27 question

In [67]:
set1 = {1,2,3,4,5,6,7,8,9}

mul = set(map(lambda a: a*2,set1))
print(mul)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [75]:
#Create a set of random numbers.
#28 question

In [79]:

import random


num_random_numbers = 5


random_number_set = set()


for _ in range(num_random_numbers):
    
    random_num = random.randint(1, 100) 

    random_number_set.add(random_num)


print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {39, 76, 46, 21, 93}

In [80]:
#Check if a set is empty.
#29 question

In [81]:
my_set = set()  # Create an empty set

if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [82]:
#Create a nested set (hint: use frozenset).
# 30 question

In [85]:
s1= {1,2,3,4,5}
s2 = {2,3,4,5,6,7,8,989,8990,56,78}

fs1,fs2 = frozenset(s1),frozenset(s2)

fset = {fs1,fs2}
print(fset)

{frozenset({1, 2, 3, 4, 5}), frozenset({2, 3, 4, 5, 6, 7, 8, 78, 56, 989, 8990})}

In [86]:
#Remove an element from a set using the discard method
#31 question

In [2]:
s1= {1,2,3,4,5}

s1.discard(3)
print(s1)

{1, 2, 4, 5}

In [3]:
#Compare two sets.
# 32 question

In [4]:
s1 = {1,2,3,4,5,67,8}
s2 = {2,3,4,5,6,7,8,9,0,9,0,9,0,9,}

if len(s1) == len(s2):
    print("Yes equal")
else:
    print("not equal")

not equal

In [5]:
#Create a set from a string.
# 33 question

In [6]:
tr = "abdur"
ty = "Raheman"
tu = "BYe-Bye"

set1 = {tr,ty,tu}
print(set1)

{'abdur', 'Raheman', 'BYe-Bye'}

In [8]:
#Convert a set of strings to a set of integers.\
# 34 question

In [9]:
set1 = {"123","345"}

intr_st = set()

for string in set1:
    string = int(string)
    intr_st.add(string)
print(intr_st)

{345, 123}

In [10]:
#Convert a set of integers to a set of strings.
#35 question

In [11]:
set1 = {123,345}

intr_st = set()

for string in set1:
    string = str(string)
    intr_st.add(string)
print(intr_st)

{'123', '345'}

In [12]:
#Create a set from a tuple.
#36 question

In [13]:
tu = (1,2,3,4,5,6,7)

set1 = set(tu)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
#Convert a set to a tuple.
# 37 question

In [15]:
tuu = tuple(set1)
print(tuu)

(1, 2, 3, 4, 5, 6, 7)

In [16]:
#Find the maximum value in a set.
# 38 question

In [17]:
set1 = {1,2,3,4,5,5,5,6,6,6,56,67,6778}

maxint= max(set1)
print(maxint)

6778

In [18]:
#Find the minimum value in a set.
# 39 question

In [19]:
minint = min(set1)
print(minint)

1

In [20]:
#Create a set from user input.
# 40 question

In [25]:
list1 = set()

counter = 'y'

while counter != 'n':
    todo = input("enter your details")
    list1.add(todo)
    counter = input("enter n to exit or enter y to continue")
print(list1)

enter your details Jogging
enter n to exit or enter y to continue y
enter your details food
enter n to exit or enter y to continue y
enter your details office
enter n to exit or enter y to continue n

{'Jogging', 'office', 'food'}

In [26]:
#Check if the intersection of two sets is empty.
# 41 question

In [27]:
s1 = {1,2,3,4,5,6,7}
s2 = {8,9,10,11,12,13}

if s1.intersection(s2):
    print("yes intersection")
else:
    print("no intrsection")

no intrsection

In [28]:
#Create a set of the first 5 Fibonacci numbers.
# 42 question

In [32]:
fibn = set()

a,b = 0,1

for _ in range(6):
    fibn.add(a)
    a,b = b,a+b
print(fibn)

{0, 1, 2, 3, 5}

In [33]:
#Remove duplicate from a list using sets.
#43 question

In [34]:
li= [11111,2,3,4,4,1,2,3,4,5,4,5,6,7,6,7,8,90,90]

set1 = set(li)
print(set1)

{1, 2, 3, 4, 5, 6, 11111, 7, 8, 90}

In [35]:
#Check if two sets have the same elements, regardless of their count.
# 44 question

In [36]:
se = {1,2,3,4,5,6,7}
st = {1,2,3,4,5,6,7,7,7,7,7}


if se == st:
    print("yes")
else:
    print("no")

yes

In [37]:
#Create a set of the first `n` powers of 2.
# 45 question

In [38]:
n = int(input("enter a number"))

set1 = set()

for num in range(n+1):
    rt = num**2
    set1.add(rt)
print(set1)

enter a number 5

{0, 1, 4, 9, 16, 25}

In [39]:
#Find the common elements between a set and a list.
#46 question

In [40]:
set1 = {1,2,3,4}
list1 = {2,5,6,7}

convert = set(list1)

intr = set1.intersection(convert)
print(intr)

{2}

In [41]:
#Create a set of the first `n` triangular numbers
# 47 question

In [42]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5


triangular_list = set(triangular_numbers(n))


print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [43]:
#Check if a set contains another set as a subset.
#48 question

In [45]:
set1 = {1,2,3,4,5,6,7}

set2 = {2,3,4}

if not set2.issubset(set1):
    print("no subset")
else:
    print("yes subset")

yes subset

In [46]:
#Create a set of alternating 1s and 0s of length `n`.
# 49 question

In [47]:
d = set()

for num in range(5):
    r = num%2
    d.add(r)
print(d)

{0, 1}

In [48]:
#Merge multiple sets into one.
# 50 question

In [51]:
se = {1,2,3,4,5,6}
sin = {"abdur","Data science"}
sot = {32,34,56,78,1}

set1 = se.union(sin,sot)

print(set1)

{32, 1, 2, 3, 4, 5, 6, 34, 78, 'Data science', 56, 'abdur'}